
<div class="center jumbotron countdown">
    <div class="col-md-4">
      <h6>Most Talked About</h6>
    </div>
    <div class="col-md-4">
      <h6>Total Issues</h6>
    </div>
    <div class="col-md-4">
      <h6>Community</h6>
    </div>
    <div class="col-md-4">
      <h4>Teaching Facilities</h4>
    </div>
    <div class="col-md-4">
      <h4><%= @popular_feed_items.count %></h4>
    </div>
    <div class="col-md-4">
      <h4><%= @user_count %></h4>
    </div>
</div>

<div class="center jumbotron">
  <div class="col-md-12">
    <h3>Top election issues for Victorian voices:</h3>
    <h5>Victorians keep adding your voice. If you are persistant you will get it. If you are persistant you will keep it.</h5>
    <%= render 'shared/popular_feed' %>
  </div>
</div>

<div class="center jumbotron">
  <div class="row">
    <div class="col-md-8">
      <h3>Add your voice and make a difference:</h3>
      <h5>New issues and discussions happening now.</h5>
      <%= render 'shared/recent_feed' %>
    </div>

    <div class="col-md-4">
      <h3>Raise your voice and let us know about an issue:</h3>
      <h5>Tell the community about your idea and allow others to add their voice to your message.</h5>
      <section class="user_info">
        <% if logged_in? %>
          <%= render 'shared/user_info' %>
          </section>
          <section class="idea_form">
          <%= render 'shared/idea_form' %>
        <% else %>
          <%= link_to "Add your voice", signup_path, class: "btn btn-lg btn-primary" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
