<p id="notice"><%= notice %></p>



<div class="row">
  <aside class="col-md-4">
    <section class="user_info"><h1>
      <%= gravatar_for @user%>
      <strong><%= @user.first_name %></strong> <%= @user.last_name %>
    </h1></section>
  </aside>

  <div class="col-md-8">
    <% if @user.ideas.any? %>
      <h3>Ideas (<%= @user.ideas.count %>)</h3>
      <ol class="ideas">
        <%= render @ideas %>
      </ol>
      <%= will_paginate @ideas %>
    <% end %>
  </div>

</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Trust:</strong>
  <%= @user.trust %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
