<!DOCTYPE html>
<html>
  <head>
    <title>Budget 2.0: The Voice of Victoria: on Education</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="nav navbar navbar-static-top navbar-inverse" role="navigation">
      <div class="container-fluid">
        <%= link_to "Budget 2.0: The Voice of Victoria", root_path, id: "logo" %>
        <nav>
          <table class="pull-right countdown">
            <tr>
              <td>
                <h6>11</h6>
              </td>
              <td>
                <h6>16</h6>
              </td>
              <td>
                <h6>13</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h7>Months</h7>
              </td>
              <td>
                <h7>Days</h7>
              </td>
              <td>
                <h7>Hours</h7>
              </td>
            </tr>
          </div>
          <div class="container">
          </table>
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Home", root_path %></li>
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Updates", '#' %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log out", logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Signup", signup_path %></li>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div class="center jumbotron">
        <h5>Freedom of speech is NOT a licence to abuse, it is a <strong>RESPONSIBILITY</strong> we all share. Every voice can help the government to better prioritise the education budget in 2018, so do your part and make your voice heard.</h5>
      </div>

    </header>

    <%= yield %>

    <footer class="footer">
      <small>
        <%= link_to "© 4Voices 2017 - Ben Minerds - Luke McDonald - Davis Hong - Dinda	Pradi - #BudgetHack2017", root_path %>
      </small>
    </footer>
  </body>
</html>
